<?xml version="1.0"?>
<launch>
       <arg
    name="model" 
    default="$(find robot_base_description)/urdf/robot_base_3D.xacro"/>
    <arg
    name="gui"
    default="False" />
  <param
    name="robot_description"
    command="$(find xacro)/xacro --inorder $(arg model)" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />

  <!--node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find robot_base_navigation)/navigation.rviz" /-->

     <include file="$(find robot_base_description)/launch/gazebo_3D.launch" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(find robot_base_navigation)/maps/warehouse.yaml"/>

      <!--- Run AMCL -->
      <include file="$(find robot_base_navigation)/launch/amcl1.launch" />

      <!--- Run Move Base -->
      <include file="$(find robot_base_navigation)/launch/move_base.launch" />


</launch>
