<?xml version="1.0"?>
<launch>

  <arg
  name="model" 
  default="$(find patrol_v3)/urdf/patrol_2D.xacro"
  />

 <arg name="paused"
		 default="false"/>

	<arg name="use_sim_time"
		 default="true"/>

	<arg name="gui"
		 default="true"/>

	<arg name="headless"
		 default="false"/>

	<arg name="debug"
		 default="false"/>

	<arg name="world"
		 default="$(find robot_base_gazebo)/worlds/warehouse_empty.world"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
  		<arg name="world_name" value="$(arg world)"/>
  		<arg name="debug" value="$(arg debug)" />
  		<arg name="gui" value="$(arg gui)" />
  		<arg name="paused" value="$(arg paused)"/>
  		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
  		<arg name="headless" value="$(arg headless)"/>
  	</include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-urdf -model patrol_base -param robot_description"
    output="screen" />

  <!--node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find robot_base_navigation)/patrol_test.rviz" /-->

</launch>
